.product-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 16px 0;
    color: #333;
  }
  
  .product-weight {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
  }
  
  ion-button {
    font-weight: bold;
  }
  
  ion-grid {
    margin: 16px 0;
  }
  